@model IEnumerable<DoktorModel>
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Doktorlar";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Mesaj"] is not null)
{
	<p class="text-success">@TempData["Mesaj"]</p>
}

@if (User.IsInRole("admin"))
{
	<p>
		<a asp-action="Create">Yeni Doktor</a>
	</p>
}

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdiSoyadiOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzmanMiOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KlinikOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BransOutput)
            </th>
			<th>
				@Html.DisplayNameFor(model => model.HastaIdleriInput)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UlkeOutput)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SehirOutput)
			</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.AdiSoyadiOutput)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UzmanMiOutput)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.KlinikOutput)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.BransOutput)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.HastaIdleriInput.Count) Hasta
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UlkeOutput)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SehirOutput)
					</td>
					<td class="text-end text-warning">

						@if (User.Identity.IsAuthenticated)
						{
							if (User.IsInRole("kullanıcı"))
							{
								if (ViewBag.SessionDoktorIdleri is not null)
								{
									List<int> sessionDoktorIdleri = ViewBag.SessionDoktorIdleri;
									if (!sessionDoktorIdleri.Contains(item.Id))
									{
										<a asp-action="Add" asp-controller="FavoriDoktorlar" asp-route-doktorId="@item.Id" class="text-info">Favorilere Ekle</a>@:&nbsp;|&nbsp;
									}
								}
								else
								{
									<a asp-action="Add" asp-controller="FavoriDoktorlar" asp-route-doktorId="@item.Id" class="text-info">Favorilere Ekle</a>@:&nbsp;|&nbsp;
								}
							}

							<a asp-action="Details" asp-route-id="@item.Id" class="text-info">Detay</a>

							if (User.IsInRole("admin"))
							{
								@* 1. yöntem: *@
								@* <text>&nbsp;|&nbsp;</text> *@
								@* 2. yöntem: *@
								@:&nbsp;|&nbsp;

								<a asp-action="Edit" asp-route-id="@item.Id" class="text-info">Düzenle</a>@:&nbsp;|&nbsp;
								<a asp-action="Delete" asp-route-id="@item.Id" class="text-info">Sil</a>
							}
						}

					</td>
				</tr>
		}
    </tbody>
</table>



